<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{responsible_name}}</p>
  <p>Uma troca de senha foi solicitada para o profissional {{caregiver_name}}</p>
  <p>Verifique a veracidade desta ação junto à ele(a)</p>
  <p>Caso tenha mesmo sido ele(a), por favor, envie o token abaixo para que o mesmo possa recuperar a senha</p>
  <p>Token: {{token}}</p>
  <p>Se não foi ele(a), então descarte esse email!</p>
  <p>
    Obrigado! <br />
    <strong>HumanCare</strong>
  </p>
</div>
